.admin-wrapper {position: static; width: var(--ls-full); height: 100vh; min-height: 100vh; display: flex; flex-direction: column; justify-content: space-between; align-items: center; overflow: auto;}
.admin-wrapper header {position: relative; border-bottom: 1px solid var(--color-gray-d);}

.admin-wrapper .admin-box {width: 100%; height: auto;}
.admin-wrapper .admin-btns {width: 100%; height: auto; display: flex; justify-content: center; padding: var(--el-medium) 0; border-bottom: 1px solid var(--color-gray-d); column-gap: .5rem;}
.admin-wrapper .admin-btns button {font-size: var(--fs-16); border: 1px solid var(--color-black); padding: var(--el-normal) var(--el-wide); border-radius: .25rem; cursor: pointer; transition: all .3s; }

.admin-wrapper .admin-btns button:hover, .admin-wrapper .admin-btns button.active {
    background: var(--color-black); color: #fff;}

/* Product panel style */
.admin-wrapper .admin-panels {width: 100%; height: auto; margin-top: var(--el-medium);}
.admin-wrapper .panel {width: 100%; height: auto; border: 1px solid var(--color-gray-d); padding: .5rem; display: flex; column-gap: .25rem; flex-direction: column;}
.admin-wrapper .panel:nth-child(2){display: none;}

/* Product Input Panel Style */
.admin-wrapper .panel > .product-panel-wrapper {width: 100%; height: auto; display: flex; column-gap: .25rem;}
.admin-wrapper .panel > .product-panel-wrapper  > div {width: 50%; height: auto; display: flex; flex-direction: column; row-gap: .25rem;}
.admin-wrapper .product-text {display: flex; width: 100%; height: auto; column-gap: .25rem;}
.admin-wrapper .product-text > div {width: 50%; display: flex;}
.admin-wrapper .product-text > div > strong {width: 30%; font-size: var(--fs-14); font-weight: normal; background: var(--color-black); color: #fff; text-align: center; padding: var(--el-small);}
.admin-wrapper .product-text > div > input {width: 70%; border: 1px solid var(--color-gray-d); padding: var(--el-normal);}

.admin-wrapper .product-desc {width: 100%; height: 350px; border: 1px solid var(--color-gray-d);}
.admin-wrapper .product-desc textarea {width: 100%; height: 100%; resize: none; padding: var(--el-normal);}

.admin-wrapper div.input-controll {display: flex; flex-direction: column; row-gap: .25rem;}
.admin-wrapper .image-name {width: 100%; border: 1px solid var(--color-gray-d); padding: var(--el-normal);} 
.admin-wrapper label {width: 100%; height: auto; text-align: center; font-size: var(--fs-14); color: #fff; background: var(--color-black); padding: var(--el-normal);}
/* .admin-wrapper .upload-hidden {position: absolute; width: 0; height: 0; overflow: hidden;} */
.admin-wrapper .upload-hidden {display: none;}

.admin-wrapper .img-selected {width: 100%; height: auto; padding: .25rem; overflow: hidden; border: 1px solid var(--color-gray-d);}
.admin-wrapper .img-selected img {width: 100%;}
.admin-wrapper .submit {width: 100%; height: auto; padding: var(--el-medium) 0; text-align: center;}


/* User Panel Style */
.admin-wrapper .user-lists li,
.admin-wrapper .user-lists{width:100%; height:auto;}
.admin-wrapper .user-lists li form{display:flex; border-bottom:1px solid #f0f0f0; width:100%; height:auto; align-items: center;}
.admin-wrapper .user-lists li form input{border:1px solid var(--color-gray-d); padding:var(--el-small); text-align:center; width:100%;}
.admin-wrapper .user-lists li form button{padding:var(--el-small) var(--el-normal); background:var(--color-black); color:#fff; border-radius: .25rem;}
.admin-wrapper .user-lists li:nth-child(odd){background:#f0f0f0;}
.admin-wrapper .user-lists li span{font-size:var(--fs-14); padding:var(--el-normal); text-align:center;}
.admin-wrapper .user-lists li span.num{width:10%;}
.admin-wrapper .user-lists li span.id{width:25%;}
.admin-wrapper .user-lists li span.name{width:25%;}
.admin-wrapper .user-lists li span.lvl{width:20%;}
.admin-wrapper .user-lists li span.updt{width:10%;}
.admin-wrapper .user-lists li span.del{width:10%;}
.admin-wrapper .user-lists li.column-name{width:100%; height:auto; background:var(--color-black); color:#fff; display: flex;}