.details header {border:1px solid var(--color-gray-d); background: #fff; position: relative; }
.details header.active {position: fixed;}

/* .detail-image {width: 100%; height: auto; background: #ccc;} */
.detail-text {width: 100%; height: auto;}
.detail-comments {width: 100%; height: auto; }

/* grid 참고 : https://studiomeal.com/archives/533 */
.details .detail-wrapper .container {display: grid; grid-template-columns: repeat(2,1fr); }
.details .detail-wrapper .container > div:nth-child(3) {grid-column-start: 1; grid-column-end: 3;}

/* Detail Pages Img Section Style */
.line {width: 100%; height: 1px; background: var(--color-gray-d) ; display: block; margin: var(--el-medium) 0;}
em, strong {font-style: normal; font-weight: var(--fw-400);}
.details .detail-image  {width: 100%; height: auto; border: 1px solid var(--color-gray-d); padding: .5rem; max-height: 400px; overflow: hidden; display: flex; align-items: center; justify-content: center;}
.details .detail-image img {width: 100%;}

/* Detail page Product information style */
.details .detail-text {width: 100%; height: auto; padding-left: 1.5rem; display: flex; flex-direction: column; justify-content: center;}
.details .detail-text > p {color: var(--color-gray-5); font-size: var(--fs-14);}
.details .detail-text h2 {font-size: var(--fs-title); font-weight: var(--fw-400); margin-bottom: var(--el-normal);}

.details .price {display: flex; align-items: center;}
.details .price p {color: var(--color-gray-5); }
.details .price .price-value {margin-left: 2rem;}
.details .price .price-value p:nth-child(1) {font-size: var(--fs-20); font-weight: var(--fw-600);}

.details .qnt-sum {display: flex; justify-content: space-between;}
.details .qnt-sum .qnts {display: flex;  column-gap: .5rem; align-items: center;}
.details .qnt-sum .qnts button {display: flex; align-items: center; justify-content: center; background: var(--color-black); color: #fff; width: 2rem; height: 2rem; border-radius: .25rem;}

.details .detail-btns{width: 100%; height: auto; display: flex; justify-content: end; column-gap: .25rem;}

.details .detail-comments{width: 100%; padding-top: var(--el-section);}
.details .comments-info {display: flex; width: 100%; height: auto; align-items: center; column-gap: .25rem; padding: var(--el-small) 0; position: relative;}
.details .comments-info:after {content: ''; position: absolute; width: 100%; height: 1px; background: var(--color-gray-d); left: 0; bottom: 0;}
.details .comments-info em {font-size: var(--fs-14); margin-left: .25rem;}

.details .comments-form {width: 100%; height: auto;}
.details .comments-form form {display: flex; justify-content: space-between; border: 1px solid var(--color-gray-d); margin-top: var(--el-medium); padding: .25rem;}
.details .comments-form form textarea {padding: var(--el-normal); resize: none; width: 90%;}
.details .comments-form form button {background: var(--color-black); color: #fff; padding: var(--el-normal) 0; border-radius: .25rem; width: 10%;}

.details .list-content {width: 100%; padding: var(--el-normal) 0; position: relative;}
.details .list-content::after{content: ''; position: absolute; width: 100%; height: 1px; background:  var(--color-gray-d); left: 0; bottom: 0;}
.details .comments-lists {margin-top: var(--el-medium);}
.details .comments-lists:nth-child(3) {margin-top: var(--el-wide);}
.details .comments-lists .list-info {width: 100%; height: auto; display: flex; align-items: center; font-size: var(--fs-12); color: var(--color-gray-5); column-gap: .25rem;}
.details .comments-lists .list-info p {font-size: var(--fs-14); color: var(--color-gray-5);}

.no-list {width: 100%; height: auto; text-align: center; font-size: var(--fs-14); padding: var(--el-medium) 0;}