@media screen and (max-width:980px) {

    .common-btn {font-size: var(--fs-14);}

    /* Header Style */
    header{background: #fff; border-bottom: 1px solid var(--color-gray-d);}
    header .container {grid-template-columns: 1fr 1fr;}
    header .container > *:not(.logo, .mobile-btn-wrapper){display: none;}
    header .logo {justify-content: flex-start;}
    .mobile-menus{display: block;  position: absolute; top: 101%; width:var(--ls-full); background: #fff; box-shadow: 0 1px 3px var(--color-gray-d); height: 0; overflow: hidden; transition: all .3s;}
    .mobile-menus .nav-lists {display: block;}
    .mobile-menus .nav-lists li {text-align: center; padding: 0;}
    .mobile-menus .nav-lists li a {display: block; width: 100%; font-size: var(--fs-16); padding: var(--el-medium) 0; border-bottom: 1px solid var(--color-gray-d);}

    header .mobile-menus .info {display: flex; justify-content: center; padding: 1rem 0;}
    header .mobile-btn {display: block;}
    header .mobile-btn-wrapper {justify-content: flex-end;}

    /* Landing Section style */
    /*필터 속성 참고: https://developer.mozilla.org/ko/docs/Web/CSS/filter */
    .overlay {position: absolute; width: 100%; height: 100%; background:#fff; opacity: 0.4;}
    .landing-text-box h1 {text-shadow: 1px 1px 1px var(--color-gray-2);}
    .landing-text-box p {width: var(--ls-1-2);}

    /* Feature section style */
    .features-section .feature {padding: var(--el-normal);}

    /* slider section style */
    .slider-section .slider-text h4 {font-size: var(--fs-20); }
    .slider-section .slider-nav {width: 45px; height: 45px;}
    .swiper-button-next:after, 
    .swiper-button-prev:after  {font-size: 1rem; }
    .swiper-button-next {right: 2rem;} 
    .swiper-button-prev {left:2rem}

    /* Product section style */
    .offer-section .product-frame {padding: var(--el-normal);}
    .offer-section .product-frame img {width: auto; height: 340px;}

    /* review section style */
    .review-section .review-frame {padding: var(--el-normal);}
    .review-section .review-item {padding: var(--el-normal);}
    .review-section .review-item p  {-webkit-line-clamp: 3;}

    /* Insta section style */
    .insta-section .insta-wrapper {column-gap: var(--el-small);}
    .insta-section .insta-info {font-size: var(--fs-name);}

    /* Detail page style */
    .line {margin: var(--el-normal) 0;}
    .details .detail-image {max-height: 350px;}
    .details .detail-text h2 {font-size: 1.5rem; }
    .details .price p {font-size: var(--fs-14); }
    

}

@media screen and (max-width:786px) {
    html {font-size: 14px;}
    .section {padding: var(--el-section-small) 0;}
    .constainer {padding: 0 var(--el-normal);}

    /* Meet section style */
    .meet-section .meet-wrapper {flex-direction: column; row-gap: var(--el-wide);}
    .meet-section .meet-wrapper .meet-text-box {width: var(--ls-full); }
    .meet-section .meet-wrapper .meet-text-box p {margin: 0; width: var(--ls-full); }
    .meet-section .meet-wrapper .meet-image-box {width: var(--ls-full);}

    /* Feature section style */
    .features-section .features {flex-direction: column; align-items: center;}
    .features-section .feature {width: 60%;}

    .product-text p {display: none;}

    /* slider section style */
    .slider-section .slider-nav {display: none;}
    .slider-section .swiper-slide {flex-direction: column; row-gap: var(--el-wide);}
    .slider-section .swiper-slide > div {width: var(--ls-full); width: 80%; margin: auto;}
    /* .slider-section .swiper-slide > div.slider-image {width: 80%; margin: auto; } */

    .slider-section .slider-text {align-items: center; text-align: center;}

    /* Product section style */
    .product-frame {width: var(--ls-1-2);}

    /* review section */
    .review-section .review-frame {width: var(--ls-1-2);}

    /* insta section */
    .insta-section .insta-right-image {display: none;}
    .insta-section .insta-wrapper {grid-template-columns: 1fr 1fr;}

    /* sign up page style */
    .sign .sign-box {width: 75vw; }

    /* Cart List Style */
   .cart-list{grid-template-columns: repeat(2, 1fr); row-gap:1.5rem;}
   .cart-list div.cart-btns{flex-direction: row; justify-content: flex-end; column-gap: .5rem;}
 
   .cart-list .cart-text h2{font-size:var(--fs-20);}
   .cart-list .cart-text p{display:-webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow:hidden;}
 }

@media screen and (max-width:600px) {
    header .logo a {width: 80px;}

    .landing-text-box {text-align: center;}
    .landing-text-box h1 {font-size: 1.8rem;}
    .landing-text-box p {width: 80%; margin: auto;}

    .overlay {opacity: .7;}

    /* Meet section style */
    .meet-section .meet-wrapper {padding: 0 5%;}    
    .meet-section .meet-wrapper .meet-image-box {column-gap: var(--el-normal);}
    .meet-section .meet-wrapper .meet-left-image {row-gap: var(--el-normal);}
    .meet-section .meet-wrapper .meet-text-box p {width: var(--ls-full); font-size: var(--fs-16);}
    .meet-section .meet-wrapper .meet-text-box span {font-size: var(--fs-16);}

    /* Feature section style */
    .features-section .feature {width: 90%;}

    /* slider section style */
    .slider-section .swiper-slide > div.slider-image {width: 90%;}

    /* review section */
    .review-section .review-frame {width: var(--ls-full);}

    /* Gallery section style */
    .grid-item{width: var(--ls-1-2); padding: .25rem;}
    .grid-sizer {width: var(--ls-1-2);}

    /* insta section style */
    .insta-section .insta-wrapper {grid-template-columns: 1fr; row-gap: var(--el-medium);}
    .insta-section .insta-info {order: 1;}
    .insta-section .insta-left-image {order: 2;}

    /* Foteer Section Style */
    footer .footer-upper {flex-direction: column;}
    footer .footer-logo {margin: 0 0 var(--el-medium) 0;}
    footer .footer-info {flex-direction: column; align-items: center; row-gap: var(--el-medium);}
    footer .footer-info .footer-nav a {padding: var(--el-small);}
    footer .footer-lower {flex-direction: column; row-gap: var(--el-normal) ; align-items: center;}

    /* sign up page style */
    .sign .sign-box {width: 95vw; }
    .sign p input:not(input[type='submit']) {padding: var(--el-normal);}
    .sign p.send-btn input {padding: var(--el-normal);}

    /* Detail page style */
    .details .detail-wrapper .container {grid-template-columns: repeat(1,1fr);}
    .details .detail-wrapper .container > div:nth-child(3) {grid-column:unset}
    .details .detail-wrapper .container > div:nth-child(1) {width: 80%; margin: 0 auto var(--el-medium); }

    .details .comments-form form textarea {width: 75%;}
    /* .details .comments-form form button {width: 25%;} */

    /* Cart List Style */
   .cart-list{display:flex; flex-direction: column;}
   .cart-list div.cart-btns{justify-content: center;}

    /* Detail Page Comment */
   .details .comments-form form{flex-direction: column; row-gap: .25rem;}
   .details .comments-form form textarea,
   .details .comments-form .rating,
   .details .comments-form form button{width:100%;}


   .details .rating{padding:.5rem 0;}
   .details .rating label i{font-size:1.5rem;}

   .details em{display:none;}
 .update-form{flex-direction: column; row-gap:0.25rem;}
 .update-form input,
 .details .rating,
 .update-form button{width:100%;}
 .details .rating,
 .update-form button{padding:.5rem 0;}

}

@media screen and (max-width:400px) {
    .container {padding: 0 var(--el-normal);}
    /* Mobile Header Icon */
    header .mobile-menus .info {padding: var(--el-medium) 0;}
    header .mobile-menus .info li:not(.admin, .user, .cart) {display: none;}

    /* text size */
    .title-box{padding:var(--el-small);}
    .section-title{font-size:var(--fs-20);}
    .product-text{row-gap:var(--el-small);}
    .product-text h4{font-size:var(--fs-18);}
    .shop .product-text .section-title, .gallery .product-text .section-title{font-size:1.5rem;}
    .product-text strong{font-size:var(--fs-14);}
    .common-btn{font-size:var(--fs-12);}

    /* Product Section */
    .product-frame {padding: .25rem;}
    .product-frame img {height: 150px; margin: auto;}

    .product-frame img {height: 180px; margin: auto;}

    /* Shop Page */
    .shop .product-item {border: 1px solid var(--color-gray-d); padding: .25rem;}
    .shop .common-btn, .gallery .common-btn {width: 100%;}
}
