.shop, .gallery {width: 100%; height: auto; }
.shop header, 
.gallery header {border-bottom: 1px solid var(--color-gray-d); position: relative;}
.shop header.active
.gallery header.active {position: fixed;}
.shop .product-text, .gallery .product-text {width: 100%; height: auto; text-align: center;}
.shop .product-text .section-title, .gallery .product-text .section-title {font-size: var(--fs-title);}


.shop .product-frame {animation: scale 1s 1; animation-fill-mode: forwards; transform: scale(0);}
@keyframes scale {
  from {transform: scale(0);}
  to{transform: scale(1);}
}

.load-more {width: 100%; height: auto; padding: var(--el-medium) 0; text-align: center; border-top: 1px solid var(--color-gray-d);}